body {
    background-color:darkmagenta;
    font-family: Arial, Helvetica, Sans-serif;
}

h1 {
    color:darkgreen;
    text-align:center;
}

.centerbla {
    text-align:center;
    color:blanchedalmond;
}

.centerbis {
    text-align:center;
    color:burlywood;
}

.projects { 
    display:flex;
    flex-wrap:wrap;
}
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 25%;
}